*{
    margin: 0;
    padding: 0;
}
.calculator{
    height: 1920px;
    width: 1080px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    width: 600px;
    height: 900px;
    background-color: blue;
    border-radius: 10px;
}
.view{
    box-sizing: border-box;
    width: 500px;
    height: 200px;
    background-color: black;
    border-radius: 10px;
}
.mainview{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.secondwrapper{
    display: flex;
    margin: 0 50px 0 50px; 
    align-content: flex-start;   
}
.firstpage{
    display: flex;
    flex-wrap: wrap;
}
.secondpage{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.bott{
    width: 100px;
    height: 100px;
}
.bott:hover{
    background: green;
}
.bott0:hover{
    background: green;
}
.bott0{
    width: 225px;
    height: 100px;
}
.bott1{
    width: 100px;
    height: 225px;
}
.bott1:hover{
    background: red;
}
.bottt{
    padding-right: 25px;
    padding-top: 25px;
    border-radius: 10px;
}
.bottt0{
    padding-right: 25px;
    padding-top: 25px;
    border-radius: 10px;
}